@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromLeft 3s ease-out forwards;
}


/* Navbar Styles */
.nav-link {
  position: relative;
  padding: 0.5rem 1rem;
  color: #4B5563;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}

.nav-link:hover {
  background-color: #FFCC0D;
  color: white;
  transform: translateY(-2px);
}

.nav-link.active {
  background-color: #FFCC0D;
  color: white;
  font-weight: 600;
}

/* Navbar container animation */
.navbar-container {
  animation: fadeInDown 0.5s ease-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Leaflet Map Styles */
.leaflet-container {
  width: 20%;
  height: 20%;
}

/* cluster-style.css */
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: #3b82f6 !important; /* Tailwind blue-500 */
  border: 3px solid #fff;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.marker-cluster div {
  background-color: transparent !important;
}

.location-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.location-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@layer utilities {
  /* Hide scrollbar untuk Chrome, Safari dan Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar untuk IE, Edge dan Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;  /* Firefox */
  }
}